.wp-block-fis-custom-image-with-text{
  /* min-height: 300px; */
}

.wp-block-fis-custom-image-with-text .padder{
  margin-top: 5rem;
  max-width: 70ch;
}

.wp-block-fis-custom-image-with-text .cover-selector{
  position: absolute;
  padding: 5px;
  color: white;
  background: blueviolet;
  bottom: 1rem;
  right: 1rem;
}