footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: .8rem;
}
@media (max-width:766px){
  ul.social-media-links--platforms{
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .region-footer-first-column{
    grid-column: 1 / 1;
  }
  .footer-third-wrapper{
    grid-column: 2 / 2;
    justify-content: center;
  }
  .region-footer-second-column{
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
  
}
@media (min-width:767px){
 footer{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
  } 
}
footer .menu a{
    color: white;
    text-decoration: none;
}
footer .menu a:hover{
  text-decoration: underline;
}
ul.menu a.is-active{
  color: white;
}

@media (min-width: 767px){
  .region-footer-second-column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

.footer-third-wrapper{
  align-self: flex-end;
}