.site-logo{
  max-width: 250px;
  display: inline-block;
}

.social-media-links--platforms li{
  margin: 0 .5rem;
  font-size: .5rem;
}
.fa{
  color: var(--blue);
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

header{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#block-friends-international-suisse-main-menu{
  padding-left: calc(50% - var(--content-width));
  padding-right: calc(50% - var(--content-width));
  background-color: var(--yellow);
}

#block-friends-international-suisse-main-menu .menu{
  display: flex;
  justify-content: space-between;
}

#block-friends-international-suisse-main-menu a{
  background-color: var(--yellow);
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-blue);
}
#block-friends-international-suisse-main-menu a:hover{
  text-decoration: underline;
}