h2{
  font-size: 2rem;
}

.node-readmore a{
  color: white!important;
  background-color: var(--red);
  padding: 0px 10px;
  color: white;
  display: inline-block;
  line-height: 2rem;
}
.node-readmore a:after{
  content: '>';
  border-left: 2px solid var(--light-grey);
  display: inline-block;
  margin-left: 8px;
  padding-left: 8px;
  font-size: 1.5rem;
  vertical-align: middle;
}

ul li{
  list-style: none;
  color: var(--dark-blue);
}

.wp-block-image figcaption{
  color: inherit
}

.cover-image.stand-alone{
  width: 100%;
  min-height: 70vh;
  position: relative;
  background-size: cover;
}

.field--name-body > p{
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.field--name-body > p:first-child{
  padding-top: 3rem;
  padding-bottom: 3rem;
}


/* projects */ 
.view-articles .node__content > div .field{
  margin-bottom: 1rem;
}

.view-articles a{
  text-decoration: none;
  color: var(--blue);
}
.view-articles{
  color: var(--blue);
  text-align: left;
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.view-articles .view-content{
  padding: 2rem;
  background-color: var(--light-grey);
}
.view-articles .node__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 2rem 0;
}

.view-articles .views-row:not(:last-child) .node__content{
    border-bottom: 1px solid grey;
}
.view-articles  .views-row:nth-child(odd) .node__content > *, .view-articles .node__content .field--name-field-image{
  grid-column: 1 / 1;
}
.view-articles  .views-row:nth-child(odd) .field--name-field-image, .view-articles .node__content > *{
  grid-column: 2 / 2;
  grid-row: 1;
}

.radio li:before{
  content: '\f04b';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: var(--light-blue);
  background-color: var(--red);
  padding: 5px 0 5px 3px;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  font-size: .6rem;
  line-height: .5rem;
  text-align: center;
  margin-right: .5rem;
}
@media (min-width:767px){
  .radio li{
    transform: translateX(calc(-1rem - .5rem));
  }
}

a.donate-button{
    position: absolute;
    bottom: 0;
    background-color: var(--red);
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    right: 3rem;
    font-weight: bold;
}

a.donate-link{
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom:  0.5rem;
  text-decoration: none;
  font-size: 1rem;
}
